<subscribe></subscribe>
<a routerLink='/email-add' class="pull-right">Add Email</a>
Total: {{totalRecords}} records
<table  width="100%">
    <thead>
        <tr>
            <th width="35%" align="left">Name</th>
            <th width="25%" align="left">Email</th>
            <th width="15%" align="right">Date Registered</th>
            <th width="15%" align="right">Last Updated</th>
            <th width="10%">Action</th>            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let email of emailList">
            <td>{{email.name}}</td>
            <td>{{email.email}}</td>
            <td align="right">{{(email.created_on)}}</td>
            <td align="right">{{email.updated_on}}</td>
            <td align="center">
                <a routerLink='/email-update/{{email.id}}' title="Edit">Edit</a> &nbsp;       
                <a  title="Delete" (click)="delete(email)">Delete</a>
            </td>
        </tr>
        <tr *ngIf="!emailList || emailList.length == 0">
            <td align="center" colspan="5">No Record Found</td>
        </tr>
    </tbody>
</table>
<div>
    Showing of Total {{totalRecords}} recoreds
    pagination: {{pagination}}
    <ul>
        <li *ngFor="let a of paginatoin; let index = index">Something {{ index }}</li>
      </ul>

</div>
<modal-dialogue [showModal]="showModal" (okCallback)="deleteEmailCallback($event)" [data]="itemToDelete"></modal-dialogue>