<div class="update-main">
  <form class="update-form" [formGroup]="updateForm" (ngSubmit)="onSubmit()" novalidate autocomplete="off">   
      <div class="form-control" ngClass="{'has-error':updateForm.controls.name.invalid}">
          <label for="name">Name:<span class="text-red">*</span></label>
          <div class="input-wrap">
              <input type="text" name="name" id="name" formControlName="name"/>
              <div *ngIf="submitted && updateForm.controls.name.hasError('required')" class="text-red">Name is required</div>
          </div>
      </div> 
      <div class="form-control">
          <label>&nbsp;</label> 
          <input type="hidden" name="id" formControlName="id" />
         <button type="buttont" type="submit">Save</button>
      </div>
  </form>
</div>